.detel{
    margin-right:75%;
    margin-top: 15%;
    text-align: center;
    
  }
  .detel h1{
    font-size: 40;
    color: black;
    margin-bottom: 20px;
    
  }
  span{
     color:orange;
  }
  .sara{
    font-size: 13px;
    margin-left:35%;
    margin-top: -15%;
  }
  .home{
    margin-left:3%;
    font-size:25;
    color: black;
    margin-top:-5%;
  }
  .sara a{
    background: #212121;
    padding:2px 5px;
    text-decoration: none;
    font-weight: bold;
    color:#fff;
    display: inline-block;
    margin: 10px 0;
    border-radius: 6px;}