
.detel{
  margin-right:70%;
  margin-top: 13%;
  text-align: center;
}
.detel h1{
  font-size: 40;
  color: black;
  margin-bottom: 20px;
}
span{
   color:orange;
}
.sara{
  font-size: medium;
  margin-left:40%;
  margin-top: -20%;
}
.home{
  margin-left:8%;
  font-size:25;
  color: black;
  margin-top:-15%;
  
}